In [64]:
import numpy as np
import pandas as pd
# Create series from numpy array
v = np.array([1,2,3,4,5,6,7]) # Creating a NumPy array
s1 = pd.Series(v) # Converting the NumPy array to a Pandas Series
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int32

In [65]:
#Datatype of Series
s1.dtype

dtype('int32')

In [66]:
# shape of series
s1.shape

(7,)

In [67]:
# number of dimensions
s1.ndim

1

In [68]:
# len of series
len(s1)

7

In [69]:
s1.count()

7

In [70]:
s1.size

7

In [71]:
# Create Series from list
s0 = pd.Series([1,2,3], index = ['a','b','c'])
s0

a    1
b    2
c    3
dtype: int64

In [72]:
# Modifying index in Series
X = np.array(['a','b','c','d','e','f','g'])
s1.index = X

In [73]:
s1

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int32

In [74]:
# Creating series using Random and Range function
v2 = np.random.random(10) #generates an array v2 of 10 random numbers between 0 and 1.
ind2 = np.arange(0,10) #creates an array ind2 of integers from 0 to 9
s = pd.Series(v2,ind2) # creates a pandas Series s with the random values in v2 as the data and the integers in ind2 as the index
v2

array([0.95627955, 0.36207591, 0.86066913, 0.36250071, 0.80939157,
       0.29444965, 0.57991789, 0.99861202, 0.40578251, 0.26050227])

In [75]:
ind2, v2

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 array([0.95627955, 0.36207591, 0.86066913, 0.36250071, 0.80939157,
        0.29444965, 0.57991789, 0.99861202, 0.40578251, 0.26050227]))

In [76]:
dict = {'a1':10,'a2':20,'a3':30,'a4':40}
s3 = pd.Series(dict)
s3

a1    10
a2    20
a3    30
a4    40
dtype: int64

In [77]:
pd.Series(99, index = [1,2,3,4,5])

1    99
2    99
3    99
4    99
5    99
dtype: int64

1 Different Things on Series with Pandas
1.1 slicing series

In [78]:
s

0    0.956280
1    0.362076
2    0.860669
3    0.362501
4    0.809392
5    0.294450
6    0.579918
7    0.998612
8    0.405783
9    0.260502
dtype: float64

In [79]:
# Return all elements of the series
s[:]

0    0.956280
1    0.362076
2    0.860669
3    0.362501
4    0.809392
5    0.294450
6    0.579918
7    0.998612
8    0.405783
9    0.260502
dtype: float64

In [80]:
# First three element of the Series
s[0:3]

0    0.956280
1    0.362076
2    0.860669
dtype: float64

In [81]:
# Last element of the Series
s[-1:]

9    0.260502
dtype: float64

In [82]:
# Fetch first 4 elements in a series
s[:4]

0    0.956280
1    0.362076
2    0.860669
3    0.362501
dtype: float64

In [83]:
# Return all elements of the series except last two elements.
s[:-2]

0    0.956280
1    0.362076
2    0.860669
3    0.362501
4    0.809392
5    0.294450
6    0.579918
7    0.998612
dtype: float64

In [84]:
# Return all elements of the series except last element.
s[:-1]

0    0.956280
1    0.362076
2    0.860669
3    0.362501
4    0.809392
5    0.294450
6    0.579918
7    0.998612
8    0.405783
dtype: float64

In [85]:
# Return last two elements of the series
s[-2:]

8    0.405783
9    0.260502
dtype: float64

In [86]:
# Return last element of the series
s[-1:]

9    0.260502
dtype: float64

In [87]:
#third-to-last and second-to-last
s[-3:-1]

7    0.998612
8    0.405783
dtype: float64

1.2 Append series

In [88]:
s2 = s1.copy()
s2

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int32

In [89]:
s3

a1    10
a2    20
a3    30
a4    40
dtype: int64

In [90]:
# Append S2 & S3 series
#use concat as append
s4 = pd.concat([s2, s3])
s4

a      1
b      2
c      3
d      4
e      5
f      6
g      7
a1    10
a2    20
a3    30
a4    40
dtype: int64

In [91]:
#remove the index elemnt a4 use drop but not change in origanl data
s4.drop('a4',inplace = False)

a      1
b      2
c      3
d      4
e      5
f      6
g      7
a1    10
a2    20
a3    30
dtype: int64

In [92]:
s4

a      1
b      2
c      3
d      4
e      5
f      6
g      7
a1    10
a2    20
a3    30
a4    40
dtype: int64

In [93]:
# When we use "inplace=True" it will affect the dataframe
s4.drop('a4',inplace = True)

In [94]:
s4

a      1
b      2
c      3
d      4
e      5
f      6
g      7
a1    10
a2    20
a3    30
dtype: int64

In [95]:
# concat insted of append  add a4 value 7
s4 = pd.concat([s4, pd.Series({'a4': 7})])
s4

a      1
b      2
c      3
d      4
e      5
f      6
g      7
a1    10
a2    20
a3    30
a4     7
dtype: int64

In [96]:
#operation on series
v1 = np.array([10,20,30])
v2 = np.array([1,2,3])
s1 = pd.Series(v1)
s2 = pd.Series(v2)

In [97]:
s1,s2

(0    10
 1    20
 2    30
 dtype: int32,
 0    1
 1    2
 2    3
 dtype: int32)

In [98]:
# Addition of two series
s1.add(s2)

0    11
1    22
2    33
dtype: int32

In [99]:
# Subtraction of two series
s1.sub(s2)

0     9
1    18
2    27
dtype: int32

In [100]:
# Subtraction of two series
s1.subtract(s2)

0     9
1    18
2    27
dtype: int32

In [101]:
# Increment all numbers in a series by 9
s1.add(9)

0    19
1    29
2    39
dtype: int32

In [102]:
# Multiplication of two series
s1.mul(s2)

0    10
1    40
2    90
dtype: int32

In [103]:
# Multiplication of two series
s1.multiply(s2)

0    10
1    40
2    90
dtype: int32

In [104]:
# Multiply each element by 1000
s1.mul(1000)

0    10000
1    20000
2    30000
dtype: int32

In [105]:
# Division
s1.divide(s2)

0    10.0
1    10.0
2    10.0
dtype: float64

In [106]:
# Division
s1.div(s2)

0    10.0
1    10.0
2    10.0
dtype: float64

In [107]:
# MAX number in a series
s1.max()

30

In [108]:
# Min number in a series
s1.min()

10

In [109]:
#Avg
s1.mean()

20.0

In [110]:
#median
s1.median()

20.0

In [111]:
#standard deviation
s1.std()

10.0

In [112]:
#Series comparison
s1.equals(s2)

False

In [113]:
s4 =s1

In [114]:
#Series comparison
s4.equals(s1)

True

In [115]:
s5 = pd.Series([1,1,2,2,3,3], index = [0,1,2,3,4,5])
s5

0    1
1    1
2    2
3    2
4    3
5    3
dtype: int64

In [116]:
# afind frequency or how many time repet samne number
s5.value_counts()

1    2
2    2
3    2
Name: count, dtype: int64

data frame

2.1 create data frame

In [117]:
df = pd.DataFrame()

In [118]:
df

Empty DataFrame
Columns: []
Index: []

In [119]:
#create Data Frame usine list
lang = ['Java', 'Python', 'C', 'C++']
df = pd.DataFrame(lang)

In [120]:
df

        0
0    Java
1  Python
2       C
3     C++

In [121]:
#add column using data frame
rating = [1,2,3,4]
df[1] = rating
df

        0  1
0    Java  1
1  Python  2
2       C  3
3     C++  4

In [122]:
#replace the columns name 0 and 1 
df.columns = ['language', 'Rating']
df

  language  Rating
0     Java       1
1   Python       2
2        C       3
3      C++       4

In [123]:
# Create Dataframe from Dictionary
data =  [{'a':1,'b':2},{'a':5, 'b':10, 'c':20}]
df2 =pd.DataFrame(data)
df2

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [124]:
df3 = pd.DataFrame(data, index=['row1', 'row2'], columns = ['a','b'])
df4 = pd.DataFrame(data, index=['row1', 'row2'], columns = ['a','b','c'])
df5 = pd.DataFrame(data, index=['row1', 'row2'], columns = ['a','b','c','d'])
df3

      a   b
row1  1   2
row2  5  10

In [125]:
df4

      a   b     c
row1  1   2   NaN
row2  5  10  20.0

In [126]:
df5

      a   b     c   d
row1  1   2   NaN NaN
row2  5  10  20.0 NaN

In [127]:
#create DataFrame from Dictionary
df0 = pd.DataFrame({'ID' : [1,2,3,4], 'Name':['Aryan','Nayan','John','Rose']})
df0

   ID   Name
0   1  Aryan
1   2  Nayan
2   3   John
3   4   Rose

In [128]:
# Create a DataFrame from Dictionary of Series
dict = {'A': pd.Series([1,2,3,], index = ['a','b','c']),
'B': pd.Series([1,2,3,4], index = ['a','b','c','d'])}
df1 = pd.DataFrame(dict)
df1

     A  B
a  1.0  1
b  2.0  2
c  3.0  3
d  NaN  4

2.2 Dataframe of Random Numbers with Date
Indices

In [129]:
dates = pd.date_range(start = '2020-01-20', end = '2020-01-26')
dates

DatetimeIndex(['2020-01-20', '2020-01-21', '2020-01-22', '2020-01-23',
               '2020-01-24', '2020-01-25', '2020-01-26'],
              dtype='datetime64[ns]', freq='D')

In [130]:
#starting from today and continuing for the next 6 days.
dates = pd.date_range('today',periods = 7)
dates

DatetimeIndex(['2024-11-26 18:55:08.445464', '2024-11-27 18:55:08.445464',
               '2024-11-28 18:55:08.445464', '2024-11-29 18:55:08.445464',
               '2024-11-30 18:55:08.445464', '2024-12-01 18:55:08.445464',
               '2024-12-02 18:55:08.445464'],
              dtype='datetime64[ns]', freq='D')

In [131]:
dates = pd.date_range( start = '2020-01-20', periods = 7)
dates

DatetimeIndex(['2020-01-20', '2020-01-21', '2020-01-22', '2020-01-23',
               '2020-01-24', '2020-01-25', '2020-01-26'],
              dtype='datetime64[ns]', freq='D')

In [132]:
M = np.random.random((7,7))
M

array([[0.76801088, 0.30734263, 0.48214433, 0.1193339 , 0.68490247,
        0.68525156, 0.70176878],
       [0.12130583, 0.26294906, 0.47192921, 0.18092463, 0.0282254 ,
        0.12355277, 0.40201436],
       [0.21788595, 0.54638552, 0.01483619, 0.183047  , 0.71017761,
        0.42629093, 0.91327042],
       [0.29286613, 0.02617526, 0.9550665 , 0.91941193, 0.0280737 ,
        0.20769084, 0.49828601],
       [0.84416943, 0.92847872, 0.84041897, 0.07916251, 0.49048336,
        0.64309182, 0.24857068],
       [0.37763387, 0.8118972 , 0.78404233, 0.32608382, 0.36990674,
        0.45858485, 0.71942518],
       [0.52573626, 0.63295864, 0.40944813, 0.34048082, 0.12530746,
        0.37256743, 0.57559363]])

In [133]:
dframe = pd.DataFrame(M, index = dates)
dframe

,0,1,2,3,4,5,6
2020-01-20,0.768011,0.307343,0.482144,0.119334,0.684902,0.685252,0.701769
2020-01-21,0.121306,0.262949,0.471929,0.180925,0.028225,0.123553,0.402014
2020-01-22,0.217886,0.546386,0.014836,0.183047,0.710178,0.426291,0.913270
2020-01-23,0.292866,0.026175,0.955067,0.919412,0.028074,0.207691,0.498286
2020-01-24,0.844169,0.928479,0.840419,0.079163,0.490483,0.643092,0.248571
2020-01-25,0.377634,0.811897,0.784042,0.326084,0.369907,0.458585,0.719425
2020-01-26,0.525736,0.632959,0.409448,0.340481,0.125307,0.372567,0.575594

In [134]:
#Changing Column Names
dframe.columns = ['c1','c2','c3','c4','c5','c6','c7']
dframe

,c1,c2,c3,c4,c5,c6,c7
2020-01-20,0.768011,0.307343,0.482144,0.119334,0.684902,0.685252,0.701769
2020-01-21,0.121306,0.262949,0.471929,0.180925,0.028225,0.123553,0.402014
2020-01-22,0.217886,0.546386,0.014836,0.183047,0.710178,0.426291,0.913270
2020-01-23,0.292866,0.026175,0.955067,0.919412,0.028074,0.207691,0.498286
2020-01-24,0.844169,0.928479,0.840419,0.079163,0.490483,0.643092,0.248571
2020-01-25,0.377634,0.811897,0.784042,0.326084,0.369907,0.458585,0.719425
2020-01-26,0.525736,0.632959,0.409448,0.340481,0.125307,0.372567,0.575594

In [135]:
#list index
dframe.index

DatetimeIndex(['2020-01-20', '2020-01-21', '2020-01-22', '2020-01-23',
               '2020-01-24', '2020-01-25', '2020-01-26'],
              dtype='datetime64[ns]', freq='D')

In [136]:
#list columns name
dframe.columns

Index(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7'], dtype='object')

In [137]:
# Datatype of each column
dframe.dtypes

c1    float64
c2    float64
c3    float64
c4    float64
c5    float64
c6    float64
c7    float64
dtype: object

In [138]:
# Sort Dataframe by Column 'C1' in Ascending Order
dframe.sort_values(by = 'c1')

,c1,c2,c3,c4,c5,c6,c7
2020-01-21,0.121306,0.262949,0.471929,0.180925,0.028225,0.123553,0.402014
2020-01-22,0.217886,0.546386,0.014836,0.183047,0.710178,0.426291,0.913270
2020-01-23,0.292866,0.026175,0.955067,0.919412,0.028074,0.207691,0.498286
2020-01-25,0.377634,0.811897,0.784042,0.326084,0.369907,0.458585,0.719425
2020-01-26,0.525736,0.632959,0.409448,0.340481,0.125307,0.372567,0.575594
2020-01-20,0.768011,0.307343,0.482144,0.119334,0.684902,0.685252,0.701769
2020-01-24,0.844169,0.928479,0.840419,0.079163,0.490483,0.643092,0.248571

In [139]:
#Sort Data Frame by Column 'c1' in descending Order
dframe.sort_values(by = 'c1', ascending = False)

,c1,c2,c3,c4,c5,c6,c7
2020-01-24,0.844169,0.928479,0.840419,0.079163,0.490483,0.643092,0.248571
2020-01-20,0.768011,0.307343,0.482144,0.119334,0.684902,0.685252,0.701769
2020-01-26,0.525736,0.632959,0.409448,0.340481,0.125307,0.372567,0.575594
2020-01-25,0.377634,0.811897,0.784042,0.326084,0.369907,0.458585,0.719425
2020-01-23,0.292866,0.026175,0.955067,0.919412,0.028074,0.207691,0.498286
2020-01-22,0.217886,0.546386,0.014836,0.183047,0.710178,0.426291,0.913270
2020-01-21,0.121306,0.262949,0.471929,0.180925,0.028225,0.123553,0.402014

Delete column in Data Frame

In [140]:
df1

     A  B
a  1.0  1
b  2.0  2
c  3.0  3
d  NaN  4

In [141]:
df1

     A  B
a  1.0  1
b  2.0  2
c  3.0  3
d  NaN  4

In [142]:
# del df1['B']

In [143]:
df5

      a   b     c   d
row1  1   2   NaN NaN
row2  5  10  20.0 NaN

In [144]:
#delete column using pop()
df5.pop('c')

row1     NaN
row2    20.0
Name: c, dtype: float64

In [145]:
df5

      a   b   d
row1  1   2 NaN
row2  5  10 NaN

2.4 data section in dataframe

In [146]:
df

  language  Rating
0     Java       1
1   Python       2
2        C       3
3      C++       4

In [147]:
df.index = [1,2,3,4]

In [148]:
df

  language  Rating
1     Java       1
2   Python       2
3        C       3
4      C++       4

In [149]:
# Data selection using row label
df.loc[1]

language    Java
Rating         1
Name: 1, dtype: object

In [151]:
df.iloc[1]

language    Python
Rating           2
Name: 2, dtype: object

In [152]:
df.loc[1:2] # Selects rows 1 and 2, and columns 'A', 'B

  language  Rating
1     Java       1
2   Python       2

In [153]:
df.iloc[1:2]  # Selects rows 1 (excludes 2) and columns 0, 1

  language  Rating
2   Python       2

In [154]:
# Data selection based on Condition
df.loc[df.Rating>2]

  language  Rating
3        C       3
4      C++       4

In [155]:
df1

     A  B
a  1.0  1
b  2.0  2
c  3.0  3
d  NaN  4

In [156]:
del df1['B']

In [157]:
df1

     A
a  1.0
b  2.0
c  3.0
d  NaN

In [159]:
# Row & Column label based selection
df1.loc['a']

A    1.0
Name: a, dtype: float64

In [160]:
# df1.iloc['a']# This will throw error because iloc will not work on labels

In [161]:
dframe

,c1,c2,c3,c4,c5,c6,c7
2020-01-20,0.768011,0.307343,0.482144,0.119334,0.684902,0.685252,0.701769
2020-01-21,0.121306,0.262949,0.471929,0.180925,0.028225,0.123553,0.402014
2020-01-22,0.217886,0.546386,0.014836,0.183047,0.710178,0.426291,0.913270
2020-01-23,0.292866,0.026175,0.955067,0.919412,0.028074,0.207691,0.498286
2020-01-24,0.844169,0.928479,0.840419,0.079163,0.490483,0.643092,0.248571
2020-01-25,0.377634,0.811897,0.784042,0.326084,0.369907,0.458585,0.719425
2020-01-26,0.525736,0.632959,0.409448,0.340481,0.125307,0.372567,0.575594

In [162]:
# Data selection using Row Label
dframe['2020-01-20' : '2020-01-22']

,c1,c2,c3,c4,c5,c6,c7
2020-01-20,0.768011,0.307343,0.482144,0.119334,0.684902,0.685252,0.701769
2020-01-21,0.121306,0.262949,0.471929,0.180925,0.028225,0.123553,0.402014
2020-01-22,0.217886,0.546386,0.014836,0.183047,0.710178,0.426291,0.913270

In [165]:
#Selecting all rows & selected columns
dframe.loc[:,['c1','c7']]

                  c1        c7
2020-01-20  0.768011  0.701769
2020-01-21  0.121306  0.402014
2020-01-22  0.217886  0.913270
2020-01-23  0.292866  0.498286
2020-01-24  0.844169  0.248571
2020-01-25  0.377634  0.719425
2020-01-26  0.525736  0.575594

In [166]:
#row & column label based selection
dframe.loc['2020-01-20':'2020-01-22',['c1','c7']]

                  c1        c7
2020-01-20  0.768011  0.701769
2020-01-21  0.121306  0.402014
2020-01-22  0.217886  0.913270

In [168]:
# Data selection based on Condition
dframe[dframe['c1']>0.5]

,c1,c2,c3,c4,c5,c6,c7
2020-01-20,0.768011,0.307343,0.482144,0.119334,0.684902,0.685252,0.701769
2020-01-24,0.844169,0.928479,0.840419,0.079163,0.490483,0.643092,0.248571
2020-01-26,0.525736,0.632959,0.409448,0.340481,0.125307,0.372567,0.575594

In [170]:
# Data selection based on Condition
dframe[(dframe['c1']>0.5) & (dframe['c4']>0.5)]

Empty DataFrame
Columns: [c1, c2, c3, c4, c5, c6, c7]
Index: []

In [173]:
dframe[(dframe['c1'] > 0.5) & (dframe['c4']>0.5)]

Empty DataFrame
Columns: [c1, c2, c3, c4, c5, c6, c7]
Index: []

In [175]:
# Data selection using position (Integer Index based)
dframe.iloc[0][0]

C:\Users\ICON\AppData\Local\Temp\ipykernel_5580\4155087322.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dframe.iloc[0][0]

0.7680108798248911

In [177]:
# Select all rows & first three columns
dframe.iloc[:,0:3]

                  c1        c2        c3
2020-01-20  0.768011  0.307343  0.482144
2020-01-21  0.121306  0.262949  0.471929
2020-01-22  0.217886  0.546386  0.014836
2020-01-23  0.292866  0.026175  0.955067
2020-01-24  0.844169  0.928479  0.840419
2020-01-25  0.377634  0.811897  0.784042
2020-01-26  0.525736  0.632959  0.409448

In [185]:
dframe.iloc[0,0] = 10

In [186]:
dframe

,c1,c2,c3,c4,c5,c6,c7,"(0, 0)"
2020-01-20,10.000000,0.307343,0.482144,0.119334,0.684902,0.685252,0.701769,10
2020-01-21,0.121306,0.262949,0.471929,0.180925,0.028225,0.123553,0.402014,10
2020-01-22,0.217886,0.546386,0.014836,0.183047,0.710178,0.426291,0.913270,10
2020-01-23,0.292866,0.026175,0.955067,0.919412,0.028074,0.207691,0.498286,10
2020-01-24,0.844169,0.928479,0.840419,0.079163,0.490483,0.643092,0.248571,10
2020-01-25,0.377634,0.811897,0.784042,0.326084,0.369907,0.458585,0.719425,10
2020-01-26,0.525736,0.632959,0.409448,0.340481,0.125307,0.372567,0.575594,10

In [188]:
del dframe[0,0]

In [189]:
dframe

,c1,c2,c3,c4,c5,c6,c7
2020-01-20,10.000000,0.307343,0.482144,0.119334,0.684902,0.685252,0.701769
2020-01-21,0.121306,0.262949,0.471929,0.180925,0.028225,0.123553,0.402014
2020-01-22,0.217886,0.546386,0.014836,0.183047,0.710178,0.426291,0.913270
2020-01-23,0.292866,0.026175,0.955067,0.919412,0.028074,0.207691,0.498286
2020-01-24,0.844169,0.928479,0.840419,0.079163,0.490483,0.643092,0.248571
2020-01-25,0.377634,0.811897,0.784042,0.326084,0.369907,0.458585,0.719425
2020-01-26,0.525736,0.632959,0.409448,0.340481,0.125307,0.372567,0.575594

In [190]:
# Display all rows where C1 has value of 10 or 20
dframe[dframe['c1'].isin([10,20])]

              c1        c2        c3        c4        c5        c6        c7
2020-01-20  10.0  0.307343  0.482144  0.119334  0.684902  0.685252  0.701769

2.5 SET VALUE

In [191]:
# Set value of 888 for all elements in column 'C1'
dframe['c1'] = 888
dframe

             c1        c2        c3        c4        c5        c6        c7
2020-01-20  888  0.307343  0.482144  0.119334  0.684902  0.685252  0.701769
2020-01-21  888  0.262949  0.471929  0.180925  0.028225  0.123553  0.402014
2020-01-22  888  0.546386  0.014836  0.183047  0.710178  0.426291  0.913270
2020-01-23  888  0.026175  0.955067  0.919412  0.028074  0.207691  0.498286
2020-01-24  888  0.928479  0.840419  0.079163  0.490483  0.643092  0.248571
2020-01-25  888  0.811897  0.784042  0.326084  0.369907  0.458585  0.719425
2020-01-26  888  0.632959  0.409448  0.340481  0.125307  0.372567  0.575594

In [197]:
# Set value of 777 for first three rows in Column 'C6'
dframe.iloc[0:3,'c6']=777
dframe

TypeError: Cannot index by location index with a non-integer key

In [198]:
# Set value of 333 in first row and third column
dframe.iat[0:2] = 333

ValueError: iAt based indexing can only have integer indexers

In [201]:
dframe.iloc[0,2] = 555
dframe

             c1        c2          c3        c4        c5        c6        c7
2020-01-20  888  0.307343  555.000000  0.119334  0.684902  0.685252  0.701769
2020-01-21  888  0.262949    0.471929  0.180925  0.028225  0.123553  0.402014
2020-01-22  888  0.546386    0.014836  0.183047  0.710178  0.426291  0.913270
2020-01-23  888  0.026175    0.955067  0.919412  0.028074  0.207691  0.498286
2020-01-24  888  0.928479    0.840419  0.079163  0.490483  0.643092  0.248571
2020-01-25  888  0.811897    0.784042  0.326084  0.369907  0.458585  0.719425
2020-01-26  888  0.632959    0.409448  0.340481  0.125307  0.372567  0.575594

In [202]:
# Create Copy of the calling objects data along with indices.
# Modifications to the data or indices of the copy will not be reflected in the orignal
dframe1 = dframe.copy(deep=True)

In [208]:
dframe1[(dframe1['c1']>0.5) & (dframe1['c4']>0.5)]

             c1        c2        c3        c4        c5        c6        c7
2020-01-23  888  0.026175  0.955067  0.919412  0.028074  0.207691  0.498286

In [205]:
dframe1['c1'] == 0

2020-01-20    False
2020-01-21    False
2020-01-22    False
2020-01-23    False
2020-01-24    False
2020-01-25    False
2020-01-26    False
Freq: D, Name: c1, dtype: bool

In [209]:
dframe1[dframe1['c1']==0]

Empty DataFrame
Columns: [c1, c2, c3, c4, c5, c6, c7]
Index: []

In [210]:
dframe

             c1        c2          c3        c4        c5        c6        c7
2020-01-20  888  0.307343  555.000000  0.119334  0.684902  0.685252  0.701769
2020-01-21  888  0.262949    0.471929  0.180925  0.028225  0.123553  0.402014
2020-01-22  888  0.546386    0.014836  0.183047  0.710178  0.426291  0.913270
2020-01-23  888  0.026175    0.955067  0.919412  0.028074  0.207691  0.498286
2020-01-24  888  0.928479    0.840419  0.079163  0.490483  0.643092  0.248571
2020-01-25  888  0.811897    0.784042  0.326084  0.369907  0.458585  0.719425
2020-01-26  888  0.632959    0.409448  0.340481  0.125307  0.372567  0.575594

In [211]:
dframe1

             c1        c2          c3        c4        c5        c6        c7
2020-01-20  888  0.307343  555.000000  0.119334  0.684902  0.685252  0.701769
2020-01-21  888  0.262949    0.471929  0.180925  0.028225  0.123553  0.402014
2020-01-22  888  0.546386    0.014836  0.183047  0.710178  0.426291  0.913270
2020-01-23  888  0.026175    0.955067  0.919412  0.028074  0.207691  0.498286
2020-01-24  888  0.928479    0.840419  0.079163  0.490483  0.643092  0.248571
2020-01-25  888  0.811897    0.784042  0.326084  0.369907  0.458585  0.719425
2020-01-26  888  0.632959    0.409448  0.340481  0.125307  0.372567  0.575594

In [214]:
dframe1[(dframe1['c1']>0.5) & (dframe1['c4']>0.5)]=0

In [215]:
dframe1[dframe['c1']==0]

Empty DataFrame
Columns: [c1, c2, c3, c4, c5, c6, c7]
Index: []

In [217]:
# Replace zeros in Column C1 with 99
dframe1[dframe1['c1'].isin([0])]=99
dframe1

,c1,c2,c3,c4,c5,c6,c7
2020-01-20,888,0.307343,555.000000,0.119334,0.684902,0.685252,0.701769
2020-01-21,888,0.262949,0.471929,0.180925,0.028225,0.123553,0.402014
2020-01-22,888,0.546386,0.014836,0.183047,0.710178,0.426291,0.913270
2020-01-23,99,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
2020-01-24,888,0.928479,0.840419,0.079163,0.490483,0.643092,0.248571
2020-01-25,888,0.811897,0.784042,0.326084,0.369907,0.458585,0.719425
2020-01-26,888,0.632959,0.409448,0.340481,0.125307,0.372567,0.575594

In [218]:
dframe

             c1        c2          c3        c4        c5        c6        c7
2020-01-20  888  0.307343  555.000000  0.119334  0.684902  0.685252  0.701769
2020-01-21  888  0.262949    0.471929  0.180925  0.028225  0.123553  0.402014
2020-01-22  888  0.546386    0.014836  0.183047  0.710178  0.426291  0.913270
2020-01-23  888  0.026175    0.955067  0.919412  0.028074  0.207691  0.498286
2020-01-24  888  0.928479    0.840419  0.079163  0.490483  0.643092  0.248571
2020-01-25  888  0.811897    0.784042  0.326084  0.369907  0.458585  0.719425
2020-01-26  888  0.632959    0.409448  0.340481  0.125307  0.372567  0.575594

In [220]:
#Display all rows where value of C1 is 99
dframe1[dframe1['c1']==99]

            c1    c2    c3    c4    c5    c6    c7
2020-01-23  99  99.0  99.0  99.0  99.0  99.0  99.0

2.6 Dealing with NULL value

In [224]:
dframe.at[0:2,'C6']=np.NaN

TypeError: Slicing a positional slice with .loc is not allowed, Use .loc with labels or .iloc with positions instead.