set creation

In [1]:
my set={1,2,3,4}

SyntaxError: invalid syntax (282184762.py, line 1)

In [6]:
myset = {1,2,3,4,5} #number of set

In [7]:
myset

{1, 2, 3, 4, 5}

In [9]:
len(myset) #len of my set

5

In [10]:
my_set ={1,1,1,2,2,3,3,4,5}

In [12]:
my_set #duplicate not allowed

{1, 2, 3, 4, 5}

In [13]:
my_set1={1.79,2.08,3.99,4.56,5.45} # Set of float number

In [27]:
my_set1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [16]:
my_set2={"Asif","John","tyrion"} #set of string

In [17]:
my_set2

{'Asif', 'John', 'tyrion'}

In [18]:
my_set3 = {10,20, "Hola", (11, 22, 32)} # Mixed datatypes

In [19]:
my_set3

{(11, 22, 32), 10, 20, 'Hola'}

In [20]:
myset3 = {10,20, "Hola", [11, 22, 32]} # set doesn't allow mutable items like lt

TypeError: unhashable type: 'list'

In [24]:
myset4= set() #create a empty set

In [26]:
print(type(myset4)) #chek the type of set

<class 'set'>

In [3]:
myset1 =set(("one","two","three","four"))

In [4]:
myset1

{'four', 'one', 'three', 'two'}

In [5]:
##loop through a set

In [6]:
myset = {"one","two","three","four","five","six","seven","eight"}

In [9]:
for i in myset:
    print(i)

three
seven
eight
six
five
four
one
two

In [10]:
for i in enumerate(myset):
    print(i)

(0, 'three')
(1, 'seven')
(2, 'eight')
(3, 'six')
(4, 'five')
(5, 'four')
(6, 'one')
(7, 'two')

In [11]:
##set membership

In [14]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [15]:
"one" in myset

True

In [16]:
"two"in myset

True

In [20]:
"ten" in myset

False

#add or remove items

In [2]:
myset = {"one","two","three","four","five","six","seven","eight"}

In [3]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [5]:
myset.add("nine")

In [6]:
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [7]:
myset.add('nine')

In [8]:
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [9]:
myset.add("ten")

In [10]:
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'ten', 'three', 'two'}

In [1]:
myset = {'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'ten', 'three', 'two'}

In [2]:
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'ten', 'three', 'two'}

In [3]:
myset.update(['ten','elevan','twelve'])

In [4]:
myset

{'eight',
 'elevan',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'twelve',
 'two'}

In [5]:
myset.remove('nine')

In [6]:
myset

{'eight',
 'elevan',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'twelve',
 'two'}

In [7]:
myset.discard('ten')

In [8]:
myset

{'eight',
 'elevan',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'twelve',
 'two'}

In [10]:
myset.clear()

In [11]:
myset

set()

In [12]:
del myset

In [13]:
myset

NameError: name 'myset' is not defined

copy set

In [14]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

In [15]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [17]:
myset1=myset #create a new refrance of myset

In [18]:
id(myset),id(myset1)

(2954459434560, 2954459434560)

In [21]:
my_set = myset.copy() #CREATE A COPY OF LIST

In [22]:
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [23]:
id(my_set)

2954459441728

In [24]:
myset.add('nine')

In [25]:
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [26]:
myset1 #change in orignal is also change

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [27]:
my_set #t won't be impacted due to changes made on the original

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [28]:
#set operation

union

In [30]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8} 
C = {8,9,10}

In [32]:
A|B # Union of A and B (All elements from both sets. NO DUPLICATES

{1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [34]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [36]:
""" Updates the set calling the update() method with union of A , B & C. 
 
For below example Set A will be updated with union of A,B & C. """


A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Intersection

In [37]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [38]:
A&B

{4, 5}

In [40]:
A.intersection(B)

{4, 5}

Difference

In [41]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [43]:
A - B # set of elements that are only in A but not in B

{1, 2, 3}

In [44]:
A.difference(B)

{1, 2, 3}

In [47]:
B -A # set of elements that are only in A but not in B

{6, 7, 8}

In [46]:
B.difference(A)

{6, 7, 8}

Symmetric Difference

In [48]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [49]:
A ^ B # Symmetric difference (Set of elements in A and B but not in both)

{1, 2, 3, 6, 7, 8}

In [51]:
A.symmetric_difference(B) # Symmetric difference of sets

{1, 2, 3, 6, 7, 8}

In [52]:
""" Updates the set calling the symmetric_difference_update() method with the symmet 
 
For below example Set A will be updated with the symmetric difference of A & B. """ 
 
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

In [53]:
A = {1,2,3,4,5,6,7,8,9} 
B = {3,4,5,6,7,8} 
C = {10,20,30,40}

In [56]:
B.issubset(A)  # Set B is said to be the subset of set A if all elements of B are

True

In [57]:
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B

True

In [58]:
C.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common

True

In [59]:
B.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common

False

Other Builtin functions

In [60]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [61]:
sum(A)

45

In [62]:
max(A)

9

In [63]:
min(A)

1

In [64]:
len(A)

9

In [65]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [66]:
D = sorted(A,reverse=True)

In [67]:
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [68]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]